body {
    font-family: "Times New Roman", arial, sans-serif;
}

.title,
.description,
.para,
.time,
.serving,
.process,
.end {
    text-align: center;
}

*{
    background-color: pink;
    color: blue;
}