* {
    text-align: center;
    padding: 0px;
    margin: 0px;
    color: #ffc93c;
}

*,
* ::before,
* ::after {
    box-sizing: border-box;
}

body {
    background-color: #155263;
}

.title {
    color: #ffc93c;
    margin: 40px auto;
    border: 5px double #ff6f3c;
    width: 600px;
}

.dishes {
    width: 600px;
    margin: 20px auto;
    border: 2px dotted #ff6f3c;
}

li {
    display: inline-block;
}

.butter {
    margin: 5px auto;
    padding: 10px;
}

.shakshuka {
    margin: 5px auto;
    padding: 10px;
}

.spicy {
    margin: 5px auto;
    padding: 10px;
}